* {
    box-sizing:content-box;
    outline: none;
}

body {
    background-image: url("../images/triangles2.jpg");
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    height: 97vh;
}

.heading {
    font-size: 2.3rem;
}

a {
    color: black;
    text-decoration: none;
}

.square {
    border: 2px solid black;
    padding: 2.5rem;
    margin: .5rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgba(235, 48, 15, 0.603);
    color: rgb(110, 0, 0);
    /* filter: opacity(50%); */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* filter: blur(10px); */
}

.square:hover {
    color: rgb(87,138,167);
    background-color: rgb(198,17,16);
}

/* .container::before {
    content: "";
    background-color: red;
    filter: opacity(30%);
    filter: blur(10px);
    z-index: -2;
    position: relative;
    left: 0%;
    top: 0%;
    width: 200%;
    height: 200%;
} */